<!-- Navigation Bar -->
<footer class="shadow-lg bg-secondary text-default-white">
    <div class="container mx-auto p-6">
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-6">

            <!-- Logo -->
            <div class="flex p-4 items-center">
                <a href="/" class="flex items-center h-20 md:h-30">
                    <img src="/img/logo-white.png" alt="Logo" class="w-auto h-full">
                    <span class="text-xl font-bold">WhiCha</span>
                </a>
            </div>

            <!-- Menu -->
            <div class="flex flex-col p-4">

                <!-- Item Head -->
                <h1 class="text-3xl mb-2 md:text-4xl">เมนู</h1>

                <!-- Item Body -->
                <a href="" class="footer-item">หน้าแรก</a>
                <a href="" class="footer-item">เลือกดูคอร์ส</a>
                <a href="" class="footer-item">การเรียนของฉัน</a>
                <a href="" class="footer-item">เกี่ยวกับเรา</a>
                <a href="" class="footer-item">คู่มือ</a>
            </div>

            <div class="flex flex-col p-4">

                <!-- Item Head -->
                <h1 class="text-3xl mb-2 md:text-4xl">แหล่งที่มา</h1>

                <!-- Item Body -->
                <a href="" class="footer-item">โครงงาน</a>
                <a href="" class="footer-item">คลิป</a>
                <a href="" class="footer-item">github</a>

            </div>

            <div class="flex flex-col p-4">

                <!-- Item Head -->
                <h1 class="text-3xl mb-2 md:text-4xl">หมวดหมู่</h1>

                <!-- Item Body -->
                <div class="flex flex-wrap">
                    <a href="" class="footer-item">คณิตศาสตร์</a>
                    <a href="" class="footer-item">วิทยาศาสตร์</a>
                    <a href="" class="footer-item">ศิลปะ</a>
                    <a href="" class="footer-item">ภาษา</a>
                    <a href="" class="footer-item">การงานอาชีพ</a>
                    <a href="" class="footer-item">เคมี</a>
                    <a href="" class="footer-item">ฟิสิกส์</a>
                    <a href="" class="footer-item">ชีวะ</a>
                    <a href="" class="footer-item">ประวิติศาสตร์</a>
                    <a href="" class="footer-item">ดนตรี</a>
                    <a href="" class="footer-item">หน้าที่พลเมือง</a>
                    <a href="" class="footer-item">สุขศึกษาและพลศึกษา</a>
                    <a href="" class="footer-item">ลูกเสือ</a>
                </div>

            </div>

        </div>
    </div>
</footer>