<section id="hero">
    <div class="container mx-auto flex flex-col-reverse items-center md:flex-row px-6 py-12 gap-8">

        <!-- CTA -->
        <div class="flex flex-col md:w-1/2">
            <h1 class="max-w-md text-4xl text-center leading-tight md:text-5xl md:text-left xl:text-6xl">
                ทุกคอร์สเรียนที่ใช่ <br>รวมไว้ใน<span class="text-accent">ที่เดียว</span>
            </h1>
            <p class="text-center md:text-xl md:text-left">
                แพลตฟอร์มรวบรวมคอร์สหลากหลาย<br>เรียนรู้ได้ทุกที่ทุกเวลาและเลือกคอร์สที่เหมาะกับคุณ
            </p>
        </div>

        <!-- IMAGE -->
        <div class="flex w-1/2">
            <img src="/img/hero.png" alt="">
        </div>

    </div>
</section>

<div class="w-12 h-0.5 bg-gray-400 mx-auto"></div>

<section id="features">
    <div class="container mx-auto flex flex-col items-center px-6 py-12 gap-8">

        <!-- Features -->
        <h1 class="text-3xl md:text-4xl">
            มาเรียนรู้กับ WhiCha
        </h1>

        <!-- Grid Items -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">

            <div class="flex flex-col p-4">
                <!-- Item Head -->
                <h1 class="text-center text-xl font-semibold md:text-left md:text-2xl">เรียนรู้ได้ทุกที่</h1>
                <!-- Item Body -->
                <p class="text-center md:text-left md:text-xl">เรียนผ่านอุปกรณ์พกพา รองรับทุกแพลตฟอร์ม สามารถเรียนได้สะดวก</p>
            </div>

            <div class="flex flex-col p-4">
                <!-- Item Head -->
                <h1 class="text-center text-xl font-semibold md:text-left md:text-2xl">เรียนรู้ได้ทุกที่</h1>
                <!-- Item Body -->
                <p class="text-center md:text-left md:text-xl">เรียนผ่านอุปกรณ์พกพา รองรับทุกแพลตฟอร์ม สามารถเรียนได้สะดวก</p>
            </div>

            <div class="flex flex-col p-4">
                <!-- Item Head -->
                <h1 class="text-center text-xl font-semibold md:text-left md:text-2xl">เรียนรู้ได้ทุกที่</h1>
                <!-- Item Body -->
                <p class="text-center md:text-left md:text-xl">เรียนผ่านอุปกรณ์พกพา รองรับทุกแพลตฟอร์ม สามารถเรียนได้สะดวก</p>
            </div>

            <div class="flex flex-col p-4">
                <!-- Item Head -->
                <h1 class="text-center text-xl font-semibold md:text-left md:text-2xl">เรียนรู้ได้ทุกที่</h1>
                <!-- Item Body -->
                <p class="text-center md:text-left md:text-xl">เรียนผ่านอุปกรณ์พกพา รองรับทุกแพลตฟอร์ม สามารถเรียนได้สะดวก</p>
            </div>

        </div>

    </div>
</section>