<form action="/users/<%= user.user_id %>/profile" method="POST" onchange="previewImage(event)"
    enctype="multipart/form-data">

    <div class="mb-4">
        <img id="imagePreview" class="hidden w-48 h-48 object-cover" />
    </div>

    <input type="file" name="profileImage" accept="image/*" required>

    <button type="submit">
        Upload
    </button>
</form>

<script src="/js/scripts.js"></script>

<!-- Profile Info -->
<div class="flex flex-col items-center text-center">

    <h1 class="text-3xl md:text-4xl font-semibold">
        <%= user.username %>
    </h1>

    <p class="text-slate-400">
        <%= user.first_name + " " + user.last_name %>
    </p>
</div>